<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
        <form action="/cliente" method="post">
        <div class="mb-3">
            Nome: <input type="text" required class="form-control" name="nome" value= "<%= clienteUpdate.nome %>">
            Idade: <input type="text" required class="form-control" name="idade" value= "<%= clienteUpdate.idade %>">
            Codigo: <input type="text" required class="form-control" name="id" value= "<%= clienteUpdate.id %>" 
                        <% if(clienteUpdate.id != undefined){ %>readonly <% } %>
                    >
            <input type="hidden" name="_id" value="<%= clienteUpdate._id %>">
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
        </div>
        <br>
    </form>
    </div>
    
</body>
<%- include("../partials/rodape.ejs") %>
</html>