<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
        <% if(s == 4){  %>
            <div style="background-color:indianred">
                Email jรก existente
            </div>
        <% } %>
        <form action="/usuario" method="post">
        <div class="mb-3">
            Nome: <input type="text" required class="form-control" name="nome" value= "<%= usuarioUpdate.nome %>">
            email: <input type="email" required class="form-control" name="email" value= "<%= usuarioUpdate.email %>">
            Senha: <input type="password" required class="form-control" name="senha" value= "<%= usuarioUpdate.senha %>">
            <input type="hidden" name="_id" value="<%= usuarioUpdate._id %>">
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
        </div>
        <br>
    </form>
    </div>
    
</body>
<%- include("../partials/rodape.ejs") %>
</html>